* {
  box-sizing: border-box;
}

body {
  font-family: 'SF Pro Text', Arial, sans-serif;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f7f7f7;
}

.container {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 561px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.container__map-wrapper {
  flex-basis: 100%;
}

.header {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

#map {
  height: 100%;
}

.leaflet-control-attribution {
  display: none;
}

.container__bottom-pane {
  position: relative;
  padding: 15px 20px;
}

.bottom-pane__button {
  position: absolute;
  top: 5px;
  left: 10px;
  cursor: pointer;
  padding: 10px;
}

.bottom-pane__text {
  margin: 0;
  text-align: center;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
