* {
  box-sizing: border-box;
}

body {
  font-family: 'SF Pro Text', Arial, sans-serif;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f7f7f7;
}

.container {
  width: 375px;
  height: 561px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.header {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

#map {
  height: 100%;
}

.leaflet-control-attribution {
  display: none;
}
